<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" />
        <link rel="stylesheet" href="/assets/theme.css" />
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
        <script type="text/javascript">
            var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-37359370-1']);
              _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        <div class="navbar navbar-fixed-top">
           <div class="navbar-inner">
             <div class="container">
                <button type="button" class="btn btn-navbar" 
                    data-toggle="collapse" 
                    data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="http://ichiriac.github.com/">Ioan Chiriac's Blog</a>
                <div class="nav-collapse collapse" id="main-menu">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/contact.html">Contact</a></li>
                    </ul>
                    <ul class="nav pull-right" id="main-menu-right">
                        <li><a rel="tooltip" title="Follow me on Github" target="_blank" href="https://github.com/ichiriac"><i class="icon-globe"></i> GitHub</a></li>
                        <li><a rel="tooltip" title="Follow me on Twitter" target="_blank" href="http://twitter.com/#!/phpacktivist"><i class="icon-globe"></i> Twitter</a></li>
                        <li><a href="https://coderwall.com/ichiriac"><img alt="Endorse ichiriac on Coderwall" src="http://api.coderwall.com/ichiriac/endorsecount.png" /></a></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
        <div class="container">
            <section id="content">
                {{ content }}
            </section>
            <hr />
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>
                    &copy; Ioan Chiriac 
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
                </p>
                <p>
                    This work is licensed under a 
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
                        Creative Commons Attribution-NonCommercial-ShareAlike 
                        3.0 Unported License
                    </a>.
                </p>
            </footer>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>
    </body>
</html>